.dash_main_container{
    width: 80vw;
    padding: 20px 20px;
    text-align: left;
}
 
.dash_main_email {
    font-weight: bold;
    margin-top: 23px;
}
h1 {
    margin-bottom: 5px;
}
table {
    width: 100%;
     text-align: left;
    border-collapse: collapse;
}
th{
    background-color: #5b1eff;
    color: white;
    height: 40px;
}
tr:nth-child(odd) {
    background-color: #f4f4f7;
}

th, td {
    padding: 0 20px;
}
td {
    height: 40px;
}